* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
}

h1 {
  color: green;
  margin: 20px;
  font-family: "Lobster", cursive;
  font-size: 50px;
  font-style: italic;
}

.center {
  display: flex;
  height: 600px;
  align-items: center;
  justify-content: center;
}

.container-form {
  width: 20rem;
  align-items: center;
  border: 1px solid whitesmoke;
  border-radius: 20px 20px;
  box-shadow: 5px 10px 18px grey;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

#email {
  width: 80%;
  padding: 5px 0px;
  margin-left: 10%;
  margin-top: 10px;
  margin-bottom: 15px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #eee;
}

#senha {
  width: 80%;
  padding: 5px 0px;
  margin-left: 10%;
  margin-bottom: 15px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #eee;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 5px 15px;
  text-align: center;
  justify-content: center;
  transition-duration: 0.4s;
  background-color: white;
  color: grey;
  border: 0.5px solid grey;
  border-radius: 10px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #4caf50;
  color: white;
}

#cadastro {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

@media screen and (max-width: 480px) {
  h1 {
    text-align: center;
  }
}

footer {
  padding-top: 10px;
  text-align: center;
  color: darkgrey;
  font-size: small;
}


/* Navegação HTML */

.center-nav {
  display: flex;
  height: 600px;
  align-items: center;
  justify-content: center;
}

.container-nav {
  width: 20rem;
  margin: 15px;
  align-items: center;
  border: 1px solid whitesmoke;
  border-radius: 20px 20px;
  box-shadow: 5px 10px 18px grey;
}

.button-paciente {
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 5px 15px;
  text-align: center;
  justify-content: center;
  transition-duration: 0.4s;
  background-color: white;
  color: grey;
  border: 0.5px solid grey;
  border-radius: 10px 10px;
  cursor: pointer;
}

.button-paciente:hover {
  background-color: #6599dd;
  color: white;
}

.button-atendimento {
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 5px 15px;
  text-align: center;
  justify-content: center;
  transition-duration: 0.4s;
  background-color: white;
  color: grey;
  border: 0.5px solid grey;
  border-radius: 10px 10px;
  cursor: pointer;
}

.button-atendimento:hover {
  background-color: #f19f5c;
  color: white;
}


/* Cadastro HTML */

#nome, #email, #senha, #apresentacao {
  width: 80%;
  padding: 5px 0px;
  margin-left: 10%;
  margin-top: 20px;
  margin-bottom: 15px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #eee;
}

textarea {
  resize: none
}
